[Desktop Entry]
Version=1.0
Type=Application
Exec=eric6_webbrowser@MARKER@
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Icon=ericWeb@MARKER@
Terminal=false
Name=eric6 Web Browser (QtWebKit)@PY_MARKER@
Name[de]=eric6 Web Browser (QtWebKit)@PY_MARKER@
Comment=Web Browser for PyQt based on QtWebKit
Comment[de]=Web Browser für PyQt basierend auf QtWebKit
GenericName=Web Browser
GenericName[de]=Web Browser
Categories=Qt;X-Python;Network;WebBrowser;X-QtWebKit;
StartupNotify=true
